/*body
    {
        background-color: rgb(192, 192, 192);
    }*/
.tabl_menu
    {
        border: 1px solid rgb(255, 255, 255);
        height: 80px;
        background-color: rgb(77, 255, 166);
        background: linear-gradient(90deg,
        rgb(185, 121, 0) 0%,
        rgb(255, 196, 0) 35%,
        rgb(230, 157, 1) 100%);
        box-shadow: 0px 5px 10px rgb(0, 0, 0, .3)
    }
.tabl_titre
    {
        
        height: 80px;
        width: 300px;
        color: white;
        font-size: 45px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
.txt_tuma
    {
        margin-left: 30px;
        margin-top: 14px;
    }
.uma
    {
        color: rgba(255, 255, 255);
        font-style: unset;
        font-size: 25px;
        font-weight: none;
    }
.logo_site
    {
        border: 1px solid black;
        width: 70px;
        height: 70px;
        margin-left: 140px;
        margin-top: -105px;
    }
.entrer_recherche
    {
        margin-left: 800px;
        margin-top: -200px;
    }
.tabl_btn_decon
    {
        
        height: 80px;
        margin-top: -90px;
        margin-left: 1140px;
        width: 185px;
    }
.btn_decon
    {
        border: 2px solid rgb(78, 51, 0);
        color: white;
        margin-top: 20px;
        background-color: rgba(255, 255, 255, .0);
        width: 130px;
        height: 30px;
        border-radius: 10px;
        margin-left: 30px;
    }
.btn_decon:hover
    {
        border: 2px solid white;
        color: rgb(255, 255, 255);
        box-shadow: 0px 0px 15px rgb(78, 51, 0);
        text-shadow: 0px 0px 15px rgb(255, 255, 255);
    }
.tabl_utilisa
    {
        border: 1px solid white;
        margin-left: 50px;
        margin-top: 40px;
        width: 900px;
        height: 60px;
        box-shadow: 0px 5px 10px rgb(0, 0, 0, .5);
        border-radius: 10px;
    }
.tabl_pic_profil
    {
        border: 1px solid rgb(230, 157, 1);
        width: 50px;
        height: 50px;
        margin-top: 4px;
        margin-left: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgb(78, 51, 0);
    }
.tabl_nom_utili
    {

        width: 160px;
        height: 30px;
        margin-left: 65px;
        margin-top: -40px;
    }
.nom_utilisat
    {
        text-transform: capitalize;
        color: rgb(78, 51, 0);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 23px;
        margin-left: 5px;
    }
.tabl_icone_aide
    {
        border: 1px solid rgb(255, 255, 255);
        width: 35px;
        height: 35px;
        margin-top: -33px;
        margin-left: 792px;
        border-radius: 50%;
        background: linear-gradient(90deg,
        rgb(0, 18, 36) 0%,
        rgb(0, 34, 109) 35%,
        rgb(0, 16, 59) 100%);
    }
.propos
    {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 8px;
        font-size: 20px;
        margin-left: 0px;
        text-align: center;
    }
.navbar
    {
        border: 1px solid rgb(255, 255, 255);
        width: 500px;
        height: 40px;
        margin-left: 330px;
        margin-top: -38px;
    }
.tabl_message
    {
        border: 2px solid rgb(230, 157, 1);
        width: 125px;
        height: 35px;
        border-radius: 15px;
        background-color: rgb(255, 255, 255, .0);
        margin-left: 40px;
    }
.tabl_message:hover
    {
        box-shadow: 0px 0px 10px rgb(78, 51, 0);
        border: 2px solid white;
        background-color: rgb(230, 157, 1);
        color: white;
        text-shadow: 0px 0px 5px white;
    }
.txt_menu
    {
        color: rgb(230, 157, 1);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
        margin-top: -24px;
        margin-left: 35px;
        font-weight: bold;
        text-decoration: none;
    }
/*.txt_menu:hover
    {
        text-shadow: 0px 0px 5px rgb(0, 58, 31);
    }*/
.logo_messageri
    {
        
        height: 25px;
        width: 25px;
        margin-left: 6px;
        margin-top: 5px;
    }
.tabl_livrer
    {
        border: 2px solid rgb(230, 157, 1);
        width: 125px;
        height: 35px;
        border-radius: 15px;
        background-color: rgb(255, 255, 255, .0);
        margin-left: 180px;
        margin-top: -39px;
    }
.tabl_livrer:hover
    {
        box-shadow: 0px 0px 10px rgb(78, 51, 0);
        border: 2px solid white;
        background-color: rgb(230, 157, 1);
        color: white;
        text-shadow: 0px 0px 5px white;
    }
.tabl_commande
    {
        border: 2px solid rgb(230, 157, 1);
        width: 125px;
        height: 35px;
        border-radius: 15px;
        background-color: rgb(255, 255, 255, .0);
        margin-left: 320px;
        margin-top: -39px;
    }
.tabl_commande:hover
    {
        box-shadow: 0px 0px 10px rgb(78, 51, 0);
        border: 2px solid white;
        background-color: rgb(230, 157, 1);
        color: white;
        text-shadow: 0px 0px 5px white;
    }
#cmd
    {
        margin-left: -7px;
    }
.tabl_descript
    {
        border: 1px solid white;
        margin-left: 50px;
        margin-top: 30px;
        width: 900px;
        height: 500px;
        box-shadow: 0px 0px 15px rgb(0, 0, 0, .6);
        border-radius: 10px;
    }
.tabl_paragraphe
    {
        border: 1px solid black;
        width: 500px;
        height: 450px;
        margin-top: 25px;
        margin-left: 25px;
    }
.tabl_img_descri
    {
        
        width: 320px;
        height: 450px;
        margin-top: -450px;
        margin-left: 550px;
    }
.tabl_configuration
    {
        border: 1px solid white;
        margin-left: 980px;
        margin-top: -595px;
        height: 595px;
        width: 300px;
        box-shadow: 0px 0px 10px rgb(0, 0, 0, .6);
        border-radius: 10px;
    }
.tabl_titre_config
    {
        
        width: 300px;
        height: 100px;   
    }
.tabl_adresse
    {
        border: 1px solid rgb(255, 255, 255);
        width: 1230px;
        margin-left: 50px;
        margin-top: 30px;
        height: 120px;
        box-shadow: 0px 0px 10px rgb(0, 0, 0, .6);
    }
.tabl_mail
    {
        border: 1px solid black;
        margin-left: 20px;
        margin-top: 13px;
        width: 370px;
        height: 90px;
    }
.tabl_twitter
    {
        border: 1px solid black;
        margin-top: -90px;
        width: 370px;
        height: 90px;
        margin-left: 430px;
    }
.tabl_amazone
    {
        border: 1px solid black;
        margin-top: -90px;
        width: 370px;
        height: 90px;
        margin-left: 840px;
    }
.tabl_copyright
    {
        border: 1px solid black;
        margin-left: 0px;
        margin-top: 40px;
        height: 50px;
    }

.tabl_connect
    {
        border: 1px solid black;
        height: 50px;
        box-shadow: 0px 5px 10px rgb(0, 0, 0, .3);
    }
.tabl_tabls
    {
        border: 1px solid rgb(230, 157, 1);
        margin-top: 50px;
        height: 450px;
        width: 750px;
        margin-left: 270px;
        border-radius: 20px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
        background: linear-gradient(90deg,
        rgb(219, 143, 0) 0%,
        rgb(255, 196, 0) 35%,
        rgb(230, 157, 1) 100%);
    }
.tabl_img_connexion
    {
        
        height: 400px;
        width: 350px;
        margin-top: 25px;
        margin-left: 25px;
    }
.tabl_input_connexi
    {
        
        height: 350px;
        width: 350px;
        margin-top: -400px;
        margin-left: 375px;
        border-radius: 10px;
    }
.tabl_input_connexi:hover
    {
        box-shadow: 0px 0px 10px rgb(78, 51, 0, .5);
    }
.tabl_txt_connexion
    {
        
        width: 350px;
        height: 80px;
    }
.entrer_nom
    {
        margin-top: 25px;
        margin-left: 30px;
        width: 280px;
        height: 25px;
        border-radius: 10px;
        border: 1px solid rgb(78, 51, 0);
        text-align: center;
        color: rgb(78, 51, 0);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
.entrer_nom:hover
    {
        border: 2px solid rgb(78, 51, 0);
    }
#indique_mdp
    {
        text-align: center;
        margin-left: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(78, 51, 0);
    }
.btn_connexion
    {
        margin-left: 30px;
        width: 280px;
        height: 30px;
        border-radius: 10px;
        border: 2px solid rgb(78, 51, 0);
        color: rgb(255, 255, 255);
        background-color: rgb(117, 76, 0);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
.btn_connexion:hover
    {
        background-color: rgb(59, 39, 0);
    }
.mdp_oublier
    {
        text-align: center;
        margin-left: 35px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: rgb(78, 51, 0);
    }
.mdp_oublier:hover
    {
        text-shadow: 0px 0px 10px rgb(117, 76, 0);
        font-weight: bold;
        text-decoration: none;
    }
.tabl_tuma_msg
    {
        
        height: 80px;
        width: 250px;
        color: white;
        font-size: 45px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        margin-left: 550px;
    }
.tabl_perso_dispo
    {
        border: 1px solid white;
        margin-left: 50px;
        margin-top: 40px;
        height: 595px;
        width: 300px;
        box-shadow: 0px 0px 10px rgb(0, 0, 0, .6);
        border-radius: 10px;
    }
.tabl_txt_parten
    {
        
        width: 300px;
        height: 50px;
    }
.txt_parten
    {
        color: rgb(59, 39, 0);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        font-size: 35px;
        margin-top: 2px;
        font-weight: bold;
    }
.tabl_photo_profil
    {
        border: 1px solid rgb(230, 157, 1);
        width: 70px;
        height: 70px;
        margin-top: 15px;
        margin-left: 65px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgb(78, 51, 0);
    }
.tabl_nom
    {
        
        width: 150px;
        height: 50px;
        margin-top: -60px;
        margin-left: 140px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
.tabl_partn_one
    {
        border: 1px solid rgb(255, 255, 255);
        width: 250px;
        height: 40px;
        margin-left: 25px;
        box-shadow: 0px 0px 10px rgb(59, 39, 0);
        border-radius: 10px;
    }
.photo_partn
    {
        border: 2px solid rgb(59, 39, 0);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-top: 2px;
        margin-left: 35px;
    }
.nom_partn
    {
        
        width: 120px;
        height: 20px;
        margin-left: 70px;
        margin-top: -28px;
    }
.nom
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(59, 39, 0);
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
    }
.en_linge
    {
        
        width: 10px;
        height: 10px;
        margin-left: 200px;
        margin-top: -12px;
        border-radius: 50%;
        background-color: rgb(0, 255, 55);
    }
.tabl_messagerie
    {
        
        margin-top: -595px;
        margin-left: 375px;
        border-radius: 10px;
        height: 450px;
        width: 600px;
        box-shadow: 0px 0px 10px rgb(0, 0, 0, .6);
    }
.tabl_titre_msg
    {
        
        width: 600px;
        height: 50px;
        border-bottom: 4px solid rgb(78, 51, 0);
    }
.tabl_msg_un
    {
        
        width: 600px;
        height: 140px;
    }
.dialogue_script
    {
        height: 140px;
        width: 188px;
        border: 1px solid black;
        margin-left: 360px;
        background-image: url(photo/Sans.png);
    }
#msg_ecrit
    {
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(78, 51, 0);
        font-size: 20px;
        margin-top: 5px;
    }
.dialogue
    {
        
        width: 600px;
        height: 80px;
        margin-top: 10px;
        border-top: 4px solid rgb(51, 33, 0);
    }
.tabl_ico_emogi
    {
        
        width: 40px;
        height: 40px;
        margin-left: 80px;
        margin-top: 12px;
        border-radius: 50%;
    }
.tabl_ico_emogi:hover
    {
        box-shadow: 0px 0px 10px rgb(78, 51, 0);
    }
.tabl_input_msg
    {
        
        width: 350px;
        height: 50px;
        margin-left: 130px;
        margin-top: -50px;
    }
.conversation
    {
        border: 1px solid rgb(51, 33, 0);
        color: rgb(51, 33, 0);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: 35px;
        text-align: center;
        width: 345px;
        border-radius: 10px;
        margin-top: 10px;
        font-size: 13px;
    }
.conversation:hover
    {
        border: 2px solid rgb(51, 33, 0);
    }
.tabl_envoi_msg
    {
        
        width: 60px;
        height: 50px;
        margin-left: 490px;
        margin-top: -45px;
    }
.tabl_expli_msg
    {
        border: 1px solid white;
        height: 125px;
        width: 600px;
        margin-top: 10px;
        margin-left: 375px;
        border-radius: 10px;
        background: linear-gradient(90deg,
        rgb(185, 121, 0) 0%,
        rgb(255, 196, 0) 35%,
        rgb(230, 157, 1) 100%);
    }
.expli_msg
    {
        border: 1px solid black;
        width: 300px;
        height: 100px;
        margin-top: 10px;
        margin-left: 10px;
    }
.adresse_expli
    {
        border: 1px solid black;
        width: 250px;
        margin-left: 330px;
        margin-top: -100px;
        height: 100px;
    }
.tabl_site_ext
    {
        border: 1px solid black;
        height: 50px;
        width: 250px;
    }
.adresse
    {
        border: 1px solid black;
        height: 50px;
        width: 50px;
    }
.tabl_page_lien
    {
        border: 1px solid white;
        margin-left: 1000px;
        margin-top: -595px;
        height: 595px;
        width: 300px;
        box-shadow: 0px 0px 10px rgb(0, 0, 0, .6);
        border-radius: 10px;
    }
.liens
    {
        text-align: center;
        color: rgb(59, 39, 0);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        text-decoration: none;
    }
.pub_msg
    {
        
        width: 250px;
        height: 250px;
        margin-left: 25px;
    }
.tabl_notif
    {
        border: 1px solid black;
        width: 250px;
        margin-left: 25px;
        height: 50px;
        margin-top: 10px;
    }